.black-bg {
    background-color: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-stretch: extra-expanded;
    outline: black;
    outline-offset: 2px;
}